<section id="find">
    <h3>Buscar tareas por usuario</h3>
    <label for="user">User</label>
    <input type="text" name="" id="user">
    <button id="user_button">enviar</button>
    <section id="tasks">  
    </section>
</section>