{{> errors}}
<div class="col-md-5 mx-auto">
    <section class="card">
    <div class="card-header">
        <h3 id="form-title">Nueva tarea</h3>
    </div>
    <section class="card-body">
        <form action="/tareas/nuevo" method="POST" id="task-body">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" name="title" id="title" autofocus autocapitalize="words" minlength="5" placeholder="foo" value="{{title}}">
            </div>
            <br>
            <div class="form-group">
                <label for="description">Descripción</label>
                <textarea class="form-control" id="description" name="description" placeholder="foo" minlength="30" maxlength="255">{{description}}</textarea>
            </div>
            <br>
            <div class="form-group">
                <label for="date">Fecha límite</label>
                <input type="date" class="form-control" name="deadline" id="deadline" value="{{deadline}}">
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="submit">Guardar</button>
        </form>
    </section>
</section>
</div>