<section class="main">
    <section>
        <form id="task-body">
            <label for="title">Título</label>
            <input type="text" id="title">
            <br>
            <br>
            <label for="description">Descripción</label>
            <br>
            <textarea id="description" placeholder="Descripción de lo que debes hacer"></textarea>
            <br>
            <br>
            <label for="date">Fecha límite</label>
            <input type="date" id="date">
            <br>
            <br>
            <button id="submit">Guardar</button>
        </form>
    </section>
</section>