<div class="bg-light rounded-1 h-auto" style="padding:10px">
<h2>Bienvenido a mi gestor de tareas, un poco simple pero bonito y con mucha funcionalidad</h2>
<a href="/tarea" class="btn btn-primary">Nueva tarea</a>
<a href="/tareas" class="btn btn-secondary">Todas la tareas</a>
</div>